[Unit]
Description=Close Browsers on logout
Before=exit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pkill -15 brave
ExecStart=/usr/bin/pkill -15 google-chrome
ExecStart=sleep 3
ExecStart=/usr/bin/pkill -9 brave
ExecStart=/usr/bin/pkill -9 google-chrome
RemainAfterExit=true

[Install]
WantedBy=default.target

