[Unit]
Description=Run Unsplash robots wallpaper every hour

[Timer]
OnBootSec=1min
OnUnitActiveSec=1h
Unit=wallpaper.service

[Install]
WantedBy=timers.target
