BraveSoftware
CCP
GIMP
Google
Meltytech
Microsoft
QtProject.conf
Postman
Slack
Thunar
VirtualBox

autostart
cef_user_data
configstore
dconf
discord
default.target.wants
evolution
glib-2.0
gnome-initial-setup-done
goa-1.0
google-chrome
gthumb
gtk-2.0
gtk-3.0
ibus
inkscape
kitty
libreoffice
lutris
menus
mimeapps.list
nautilus
nextjs-nodejs
nvm
nvim/lazy-lock.json
obs-studio
pavucontrol.ini
pulse
rclone
sensu
spotify
teams
user-dirs*
xed
xfce4
yarn
yay
zoom.conf
zsh/.histfile
